* {
    box-sizing: border-box;
}

body {
    background-color: #1C1917;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pad-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(2, 100px);
    gap: 20px;
}

button {
    height: 100px;
    width: 100px;
    border: 3px solid white;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.2;
    transition: all ease .2s;
}

.on:hover {
    scale: calc(1.05);
}

.on:active {
    scale: calc(.95);
}

.on {
    opacity: 1;
}